@import "../../../assets/pallete.less";

body {
    .dark-mode();

    .welcome {

        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        width: 100%;
        height: @fullcontent;
        background:@color2;
       
        // background-image: url("https://cdn.kruceo.com/0000.png?resize=1920,1080");
        &.hidden {
            opacity: 0;
        }
        @media @min468{
            font-size: 48px;
            display: none;
        }
        h2 {
            font-size: 108px;
            @media @min968{
                font-size: 108px;
            }
            @media @min768{
                font-size: 68px;
            }
            line-height-step: 10px;
            line-height: 75px;
            color: @text;
            
            font-weight: bold;
            text-align: center;
            // mix-blend-mode: darken;
            // mix-blend-mode: exclusion;
            span {
                // filter: grayscale();
                // font-size: 100px;
                color: @text;
                text-decoration: underline;
            }
        }

       
    }
}