.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    .sub-box {
        margin: 10px;
        grid-column: span 7;
        box-sizing: border-box;
        padding: 10px;
    }
    img{
        height: 80px;
        width: 80px;
    }
}

