@import "./icomoon/style.css";

// colors
.dark-mode() {
    --color1: #00ff99;
    --color2: #eef;
    --color3: #323246;
    --color4: #fff;
    --background: #efefef;
    --text: #444;
    --inverseText: #eee;

    &.dark-mode {
        --color1: #00ff99;
        --color2: #3c3c4c;
        --color3: #334;
        --color4: #445;
        --background: #404050;
        --text: #ccc;
        --inverseText: #222;
    }

    @color1: var(--color1);
    @color2: var(--color2);
    @color3: var(--color3);
    @color4: var(--color4);
    @background: var(--background);
    @text: var(--text);
    @inverseText: var(--inverseText);
}

// sizes & presets

@scrollbar-width:12px;

@rounded: 7px;

@border: #0002 2px solid;

@fullcontent: calc(100vh - 120px);

@min968: ~ "(max-width: 968px)";

@min768: ~ "(max-width: 768px)";

@min468: ~ "(max-width: 468px)";

@min268: ~ "(max-width: 268px)";