@import "./assets/pallete.less";
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 'Noto Sans JP';
  transition: background 240ms, color 50ms;
}

body {
  .dark-mode();
  color: @text;
  background-color: @background;
}

::-webkit-scrollbar {
  width: @scrollbar-width; 
  height: @scrollbar-width; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
