@import "../../../assets/pallete.less";

body {

    .dark-mode();

    .projects {

        // min-height: min-content!important;
        #inner {
            // min-height: min-content!important;
        }
    }

    .projects.table {

        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        height: fit-content;
        // margin-top: 230px;
        min-height: calc(100vh - 30px) !important;

        #grid {
            width: 100%;
            display: grid;
            height: 100%;
            grid-template-columns: 1fr 1fr 1fr;

            // min-height: 100vh;
            @media @min968 {
                grid-template-columns: 1fr 1fr;
            }

            @media @min768 {
                grid-template-columns: 1fr;
            }

            gap: 20px;
            // align-items: center;
            margin-bottom: 50px;

            .hidden-portfolio-item {
                width: 100%;
                margin: 0;
                margin-bottom: auto;
                box-sizing: border-box;
                border: @border;
                border-radius: @rounded;

                .label {
                    width: 100%;
                    padding: 10px;
                }

                .hidden-content {
                    border-top: @border;
                    width: 100%;

                    .inner {
                        width: 100%;
                        padding: 10px;

                        * {
                            text-align: start;
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            justify-content: left;

                        }

                        .project-desc {
                            // padding: 14px 0px;
                            margin-bottom: 14px;
                            // border-bottom: @border;
                        }

                        div {
                            display: flex;
                            justify-content: end;

                            a {
                                margin-right: 0;
                                width: fit-content;
                                padding-top: 5px;
                                color: @color1;
                                text-decoration: none;
                                margin-left: auto;
                            }
                        }


                    }

                }
            }
        }
    }
}